<%= form_with(model: culture, local: true) do |form| %>
  <% if culture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(culture.errors.count, "error") %> prohibited this culture from being saved:</h2>

      <ul>
      <% culture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :culture_name %>
  </div>

  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species, id: :culture_species %>
  </div>

  <div class="field">
    <%= form.label :collected %>
    <%= form.date_select :collected, id: :culture_collected %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments, id: :culture_comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
