<%= form_with(model: unit_type, local: true) do |form| %>
  <% if unit_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit_type.errors.count, "error") %> prohibited this unit_type from being saved:</h2>

      <ul>
      <% unit_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :unit_type_name %>
  </div>

  <div class="field">
    <%= form.label :substrate %>
    <%= form.text_field :substrate, id: :unit_type_substrate %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments, id: :unit_type_comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
