<%= form_with(model: unit, local: true) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uuid %>
    <%= form.text_field :uuid, id: :unit_uuid %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight, id: :unit_weight %>
  </div>

  <div class="field">
    <%= form.label :unit_type_id %>
    <%= form.text_field :unit_type_id, id: :unit_unit_type_id %>
  </div>

  <div class="field">
    <%= form.label :prepared %>
    <%= form.date_select :prepared, id: :unit_prepared %>
  </div>

  <div class="field">
    <%= form.label :innoculated %>
    <%= form.date_select :innoculated, id: :unit_innoculated %>
  </div>

  <div class="field">
    <%= form.label :disposed %>
    <%= form.date_select :disposed, id: :unit_disposed %>
  </div>

  <div class="field">
    <%= form.label :culture_id %>
    <%= form.text_field :culture_id, id: :unit_culture_id %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.text_field :parent_id, id: :unit_parent_id %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments, id: :unit_comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
